main section.new-tweet {
  display: none;
  padding: 1em;
  background-color: #eee;
}

main section.new-tweet h2 {
  width: 100%;
  border-bottom: 2px solid;
  margin-top: 0%;
  font-weight: bold;
}

main section.new-tweet form textarea {
  width: 100%;
  padding: .25em;
}
main section.new-tweet form .counter {
  float: right;
  font-style: italic;
}
main section.new-tweet form .counter.invalid {
  color: red
}