#new-tweet {
  display: none;
  padding: 1em;
  background-color: #eee;
}

.new-tweet__header {
  width: 100%;
  border-bottom: 2px solid;
  margin-top: 0%;
  font-weight: bold;
}

.new-tweet__input {
  width: 100%;
  padding: .25em;
}
.new-tweet__counter{
  float: right;
  font-style: italic;
}
main section.new-tweet form .counter.invalid {
  color: red
}

