main section.new-tweet {
  margin-left: 2em;
  margin-right: 2em;
  padding: 1em;
  background-color: #eee;
  margin: auto;
  border-radius: 5px;
  border: 1px solid rgb(194, 191, 191);
}

main section.new-tweet h2 {
  width: 100%;
  border-bottom: 2px solid;
  margin-top: 0%;
  font-weight: bold;
}

main section.new-tweet form textarea {
  width: 100%;
  padding: .25em;
}
main section.new-tweet form .counter {
  float: right;
  font-style: italic;
}
main section.new-tweet form .counter.invalid {
  color: red
}