:root {
  --normal-alpha: .50;
  --hover-alpha: 1.00;
}

.tweet-container {
  margin-top: 1em;
}

.tweet {
  /* display: block; */
  margin-top: .5em;
  border-radius: 5px;
  border: 1px solid rgb(206, 202, 202, .80);
  /* opacity: 0.5; */
}

.tweet.hidden {
  display: none;
}



.tweet header {
  /* background-color: #eee; */
  opacity: var(--normal-alpha);
  padding: .5em;
  padding-top: 2;
  background-color: #eee;
}

.tweet > header > span {
  margin: .25em;
}

.tweet__avatar {
  border-radius: 5px;
}

.tweet__name {
  line-height: 20px;
  vertical-align: top;
  font-weight: bold;
  font-size: 1.5em;
}

.tweet__handle {
  float: right;
  vertical-align: bottom;
  line-height: 20px;
  font-size: small;
  color: rgb(149, 147, 147);
}

.tweet__text {
  padding-top: 15px;
  margin: .25em;
  height: 4em;
}

.tweet__created-at {
  border-top: 1px solid rgb(206, 202, 202);
  width: 100%;
  font-size: 10px;
  padding: .5em;
  opacity: var(--normal-alpha);
}


.tweet:hover header,
.tweet:hover .tweet_created-at
{
  opacity: var(--hover-alpha);
}
.tweet:hover {
  /* border: 1px solid rgb(206, 202, 202, 1.0); */
  border: 1px solid black;
}